.venv
.venvisa
__pycache__
**/locals/**
results/*
results_*
!results/isa/
results/isa/*
!results/isa/*instancespace_dataset.csv
images
.vscode
*.sif
*.tar
# !**/*instancespace_dataset.csv

**/build
**/**.egg-info
