[submodule "instancespace"]
	path = instancespace
	url = git@github.com:Minipoloalex/instancespace-copy.git
[submodule "highway-env"]
	path = highway-env
	url = git@github.com:Minipoloalex/highway-env-copy.git
