[submodule "instancespace"]
	path = instancespace
	url = https://github.com/Minipoloalex/instancespace-copy
[submodule "highway-env"]
	path = highway-env
	url = git@github.com:Farama-Foundation/HighwayEnv.git
